{% extends 'base.html' %}
{% block title %}Editar Post{% endblock  %}
{% block content %}


{% if user.is_authenticated %}
    <h1>🌎Editar un Post de BloogODS</h1>
    <br/><br/>

    <div class="small">
    <div class="form-group">
        <form method="POST">
            {% csrf_token %}
            {{ form.as_p }}
            <button class="btn btn-primary">Editar Post</button>
    </div
{% else %}

¿Qué haces aquí? No puedes estar aquí... 🤨📸 (Este Post no te pertenece o estás desconectado) 🚓

{% endif %}

{% endblock  %}